[project]
	description = "add android feature introduced in newer version. now support: Horizontal ListView, Horizontal GridView;"
[access "refs/*"]
	owner = group user/bangbang.S (luoqii)
[access "refs/for/refs/*"]
	read = group user/bangbang.S (luoqii)
	push = group user/bangbang.S (luoqii)
	label-Code-Review = -2..+2 group user/bangbang.S (luoqii)
	label-Verified = -1..+1 group user/bangbang.S (luoqii)
	rebase = group user/bangbang.S (luoqii)
	removeReviewer = group user/bangbang.S (luoqii)
	submit = group user/bangbang.S (luoqii)
[access "refs/heads/*"]
	read = group user/bangbang.S (luoqii)
	create = group user/bangbang.S (luoqii)
	push = +force group user/bangbang.S (luoqii)
	pushMerge = group user/bangbang.S (luoqii)
[access "refs/tags/*"]
	push = +force group user/bangbang.S (luoqii)
	pushTag = group user/bangbang.S (luoqii)
	pushSignedTag = group user/bangbang.S (luoqii)
